---
title: DUO - The applied technology company.
---

<main>
    <img src="/assets/images/blog-bw.jpg" />

    <div class="mt-24"></div>

    <h1 class="mx-12 text-2xl text-black font-bold w-fit max-w-[90%]">Latest Posts</h1>

    <div class="mt-4"></div>

    <!-- <h1 class="mx-12 text-md text-black font-bold w-fit max-w-[90%]">Filter by tag</h1>

    <div class="mx-12 flex flex-row flex-wrap">
        {% for tag in site.tags %}
        <button class="flex flex-col m-1 p-2 rounded-lg bg-gray-100">
            <h2 class="text-sm text-black">{{ tag[0] }}</h2>
        </button>
        {% endfor %}
    </div>

    <div class="mt-4"></div> -->

    <p>{{ page.slug }}</p>

    <!-- blogs -->

    <div class="mx-12 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {% if site.posts %}
        {% for post in site.posts %}
        <a class="flex flex-col m-2 p-5 rounded-lg bg-gray-200" href="{{ post.url }}">
            <h2 class="text-xl text-black font-bold">{{ post.title }}</h2>
            <p class="text-lg text-black">{{ post.excerpt }}</p>
        </a>
        {% endfor %}
        {% else %}
        <h2 class="text-xl text-black font-bold">Check back soon!</h2>
        {% endif %}
    </div>

</main>