---
title: DUO - The applied technology company.
---

<main class="static flex flex-col mx-10 md:mx-14 lg:mx-20">
    <div class="flex flex-col h-[calc(100vh-140px)] min-h-[200px] 2xl:min-h-[450px] max-h-screen mt-10">
        <div class="flex flex-grow flex-col justify-between w-full">
            <div class="flex flex-col w-full h-fit justify-start lg:justify-center items-start lg:items-center">
                <div>
                    <div class="w-fit">
                        <h1 id="title"
                            class="[font-size:clamp(8rem,20vw,18rem)] leading-none text-white animate-blink-in [--text-shadow-color:theme(colors.dark-cyan)] text-shadow-3xl">
                            DUO
                        </h1>
                        <div class="h-1 bg-green-cyan opacity-0 animate-[grow-in-left_0.7s_2s_forwards]"></div>
                    </div>

                    <h1
                        class="pt-5 [font-size:clamp(1.1rem,2.5vw,2.5rem)] text-start lg:text-center leading-none text-white opacity-0 animate-[slide-in-up_1s_2.7s_forwards] [--text-shadow-color:theme(colors.green-cyan)] text-shadow-xs">
                        The Applied Technology Company
                    </h1>
                </div>
            </div>

            <div id="scroll-indicator" class="flex flex-row w-full justify-center">
                <a href="#about"
                    class="flex flex-row w-fit h-fit align-middle gap-4 text-white text-2xl opacity-0 animate-[slide-in-up_1s_3.5s_forwards]">
                    <svg width="24" height="24" class="m-2 fill-white stroke-white stroke-1">
                        <polygon points="0 0,12 20,24 0,0 0" />
                    </svg>
                    <div class="[--text-shadow-color:theme(colors.dark-cyan)] text-shadow-3xl">Explore</div>
                    <svg width="24" height="24" class="m-2 fill-white stroke-white stroke-1">
                        <polygon points="0 0,12 20,24 0,0 0" />
                    </svg>
                </a>
            </div>
            <script>
                // fade scroll indicator on scroll
                const scrollIndicator = document.getElementById('scroll-indicator');
                window.addEventListener('scroll', () => {
                    const scrollProp = (window.scrollY / window.innerHeight);

                    scrollIndicator.childNodes.forEach((child) => {
                        if (child.nodeType === Node.ELEMENT_NODE) {
                            child.style.opacity = 1 - scrollProp;
                        }

                        child.childNodes.forEach((svg) => {
                            if (svg.nodeType === Node.ELEMENT_NODE) {
                                svg.style.opacity = 1 - scrollProp;
                            }
                        });
                    });
                });

                // reset the blink animation each time it finishes, becasuse CSS won't delay between iterations
                // initial animationend is on the slide-in-up
                scrollIndicator.addEventListener('animationend', () => {
                    scrollIndicator.classList.remove('animate-[blink_2s_10s]');
                    setTimeout(() => {
                        scrollIndicator.classList.add('animate-[blink_2s_10s]');
                    }, 100);
                });

                // cancel blink animation on scroll
                window.addEventListener('scroll', () => scrollIndicator.classList.remove('animate-[blink_2s_10s]'));
            </script>
        </div>
    </div>

    {% include_relative /_content/about.html %}

    {% include_relative /_content/services.html %}

    {% include_relative /_content/work.html %}

    {% include_relative /_content/ventures.html %}
</main>