<a href="/#about" onclick="toggle_menu()"
    class="block group px-2 py-1 bg-gradient-to-r from-white from-50% to-black to-50% bg-[length:200%_100%] bg-right-bottom hover:bg-left-bottom transition-all duration-150">
    <div class="text-2xl bg-transparent text-white group-hover:text-green-cyan transition-colors duration-150">
        ABOUT
    </div>
</a>
<a href="/#services" onclick="toggle_menu()"
    class="block group px-2 py-1 bg-gradient-to-r from-white from-50% to-black to-50% bg-[length:200%_100%] bg-right-bottom hover:bg-left-bottom transition-all duration-150">
    <div class="text-2xl bg-transparent text-white group-hover:text-green-cyan transition-colors duration-150">
        SERVICES
    </div>
</a>
<a href="/#work" onclick="toggle_menu()"
    class="block group px-2 py-1 bg-gradient-to-r from-white from-50% to-black to-50% bg-[length:200%_100%] bg-right-bottom hover:bg-left-bottom transition-all duration-150">
    <div class="text-2xl bg-transparent text-white group-hover:text-green-cyan transition-colors duration-150">
        WORK
    </div>
</a>
<a href="/#ventures" onclick="toggle_menu()"
    class="block group px-2 py-1 bg-gradient-to-r from-white from-50% to-black to-50% bg-[length:200%_100%] bg-right-bottom hover:bg-left-bottom transition-all duration-150">
    <div class="text-2xl bg-transparent text-white group-hover:text-green-cyan transition-colors duration-150">
        VENTURES
    </div>
</a>
<!-- <a href="/blog" onclick="toggle_menu()"
    class="block group px-2 py-1 bg-gradient-to-r from-white from-50% to-black to-50% bg-[length:200%_100%] bg-right-bottom hover:bg-left-bottom transition-all duration-150">
    <div class="text-2xl bg-transparent text-white group-hover:text-green-cyan transition-colors duration-150">
        BLOG
    </div>
</a> -->
<a href="#contact" onclick="toggle_menu()"
    class="block group px-2 py-1 bg-gradient-to-r from-white from-50% to-black to-50% bg-[length:205%_100%] bg-right-bottom hover:bg-left-bottom transition-all duration-150">
    <div class="text-2xl bg-transparent text-white group-hover:text-green-cyan transition-colors duration-150">
        CONTACT
    </div>
</a>
